<div class="panel">
        <div class="panel-body">
          <div class="row">{{ownerName}}</div>
          <div class="row">{{to}}</div>
          <div class="row">{{from}}</div>
          <div class="row">{{contactNo}}</div>
        </div>
</div>  