<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index' class='navbar-brand'}}Carpooling{{/link-to}}
    </div>
  </div>
</nav>

{{outlet}}
